@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #cacaca;
  font-size: 18px;
  line-height: 1.5;
}

body {
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  background: #08020d;
  color: #fff;
}
section .title {
  text-align: center;
}

h1,
h2 {
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

img {
  background-position: center;
  background-size: cover;
}

.footer {
  position: relative;
  padding: 3rem 0 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .links-container {
  margin-bottom: 114px;
  display: flex;
  justify-content: space-between;
}
.footer .links-container .title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer .links-container .subscribe .flex-container {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
.footer .links-container .subscribe .flex-container a {
  display: inline-block;
}
.footer a {
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}
.footer .divider {
  position: absolute;
  width: 100vw;
  height: 2px;
  bottom: 113px;
  border: 1px solid #cacaca;
}
.footer .low-menu {
  width: 438px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .footer .links-container {
    height: 520px;
    flex-direction: column;
    align-items: space-between;
  }
  .footer .low-menu {
    height: 180px;
    flex-direction: column;
    align-items: space-between;
  }
  .footer .divider {
    bottom: 272px;
  }
}
.header {
  position: absolute;
  top: 25px;
  height: 25px;
}
.header .container {
  margin-left: 119px;
  display: flex;
  text-transform: uppercase;
}
.header .container .main-menu {
  display: block;
  min-width: 91px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.header .container .logo {
  width: 16px;
  height: 16px;
}
.header .container .title,
.header .container .menu-item {
  font-size: 10px;
  line-height: 16px;
}
.header .container .flex-container {
  width: 1000px;
  margin-left: 91px;
  display: flex;
  justify-content: space-between;
}
.header .container .top-menu {
  width: 311px;
  display: flex;
  justify-content: space-between;
}
.header .container .search-bar .search-input {
  width: 248px;
  height: 25px;
  background: #3C3B3D;
  border-radius: 50px;
  font-family: Arial;
  font-weight: normal;
  font-size: 13.3px;
  line-height: 15px;
}
@media (max-width: 768px) {
  .header .container {
    width: 100%;
    margin-left: 0;
    flex-wrap: wrap;
  }
  .header .container .logo {
    margin-bottom: 17px;
  }
  .header .container .flex-container {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
  }
  .header .container .top-menu {
    flex-direction: column;
  }
  .header .container .search-input {
    width: 100%;
  }
}

.page-description {
  padding: 200px 0;
  background-image: url("images/banner.png");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.page-description .title,
.page-description .subtitle {
  text-align: center;
}
.page-description .form-title {
  margin-top: 31px;
  text-align: center;
}
.page-description .form {
  max-width: 570px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}
.page-description .form .flex-container {
  display: flex;
  justify-content: space-between;
}
.page-description .form .flex-container input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-top: 17px;
  margin-bottom: 1.5rem;
  border: solid 2px #cacaca;
  border-radius: 3px;
  background: transparent;
  font-family: Arial;
  font-size: 13.3px;
  line-height: 15px;
}
@media (max-width: 768px) {
  .page-description .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .page-description .flex-container input {
    width: 100%;
  }
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  text-transform: upercase;
  text-decoration: none;
}
.btn-green {
  background: #34C176;
}

.page-pricing .bg {
  background-position: center;
  background-size: cover;
}
.page-pricing .bg-free {
  background-image: url("images/subscribe_1.png");
}
.page-pricing .bg-standart {
  background-image: url("images/subscribe_2.png");
}
.page-pricing .bg-premium {
  background-image: url("images/subscribe_3.png");
}
.page-pricing .title {
  margin-bottom: 45px;
  text-align: center;
}
.page-pricing .items-container {
  display: flex;
  justify-content: space-between;
}
.page-pricing .items-container .pricing-item {
  height: 615px;
  width: 369px;
  padding: 1.5rem 1.5rem 64px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-pricing .items-container .pricing-item-title {
  text-transform: uppercase;
}
.page-pricing .items-container .pricing-item .pricing-value {
  margin-top: 200px;
  font-size: 64px;
  line-height: 100%;
}
.page-pricing .items-container .pricing-item .pricing-value .currency {
  font-size: 32px;
  line-height: 1em;
}
.page-pricing .items-container .pricing-item .checkout {
  display: block;
  margin-top: 40px;
  text-decoration: none;
}
.page-pricing .items-container .pricing-item .pricing-footer {
  text-align: center;
  margin-top: 64px;
  font-size: 12.8px;
  line-height: 150%;
}
.page-pricing-footer {
  text-align: center;
  margin-top: 43px;
}
@media (max-width: 768px) {
  .page-pricing .items-container {
    flex-direction: column;
    align-items: center;
  }
  .page-pricing .items-container .pricing-item {
    margin-bottom: 27px;
  }
}

.page-news .title {
  margin-bottom: 48px;
  text-align: center;
}
.page-news .first {
  margin-bottom: 65px;
}
.page-news .news-item {
  display: flex;
  justify-content: space-between;
}
.page-news .news-item .artist-image,
.page-news .news-item .text-container {
  width: 575px;
}
.page-news .news-item .news-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.page-news .news-item .news-footer {
  margin-top: 24px;
}
.page-news .news-item .news-footer .news-author {
  width: 186px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.page-news .news-item .news-footer .news-author .avatar {
  width: 19px;
  height: 19px;
}
.page-news .news-item .news-footer .news-author .source {
  margin: 0 16px;
  color: #f89202;
  font-size: 12px;
}
.page-news .news-item .news-footer .news-author .date {
  font-size: 12px;
}
.page-news .news-item .btn {
  display: block;
  width: 135px;
  height: 53px;
  padding: 16px 29px;
  margin-top: 64px;
  font-size: 12.8px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .page-news .news-item {
    flex-direction: column;
  }
  .page-news .news-item .artist-image,
.page-news .news-item img,
.page-news .news-item .text-container {
    width: 100%;
  }
  .page-news .news-item .text-container {
    margin-top: 50px;
  }
  .page-news .news-item .text-container .news-title {
    font-size: 16px;
    text-transform: capitalize;
  }
  .page-news .second {
    flex-direction: column-reverse;
  }
}

.page-app .about-app {
  margin-top: 48px;
  display: flex;
}
.page-app .text-content {
  flex: 1;
}
.page-app .text-content .proposal {
  margin-bottom: 16px;
}
.page-app .text-content .download-btn {
  display: block;
  width: 131px;
  height: 53px;
  padding: 16px 40px;
  background: #95390C;
  border: none;
  border-radius: 32px;
  font-size: 12.8px;
}
.page-app .image {
  text-align: center;
  flex: 1;
}
@media (max-width: 768px) {
  .page-app .about-app {
    flex-direction: column;
  }
  .page-app .about-app .text-content {
    order: 1;
  }
  .page-app .about-app .image {
    order: 0;
  }
}

/*# sourceMappingURL=style.css.map */
