@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

body {
  position: relative;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  background: #08020d;
}
section .title {
  text-align: center;
}

h1,
h2 {
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

img {
  background-position: center;
  background-size: cover;
}

.footer {
  position: relative;
  padding: 3rem 0 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer a {
  display: block;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}
.footer .links-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 114px;
}
.footer .links-container .title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.footer .links-container a {
  color: #e0e0e0;
}
.footer .links-container .subscribe .flex-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
.footer .links-container .subscribe .flex-container a {
  display: inline-block;
}
.footer .links-container .subscribe .flex-container a img {
  filter: sepia(7%) saturate(30%) hue-rotate(14deg) brightness(93%) contrast(81%);
}
.footer .divider {
  position: absolute;
  bottom: 113px;
  width: 100%;
  height: 2px;
  border: 1px solid #cacaca;
}
.footer .low-menu {
  display: flex;
  justify-content: space-between;
  width: 438px;
}
.footer .low-menu a {
  color: #e0e0e0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer {
    padding: 62px 0 48px;
  }
  .footer .links-container {
    flex-direction: column;
    align-items: space-between;
    height: 520px;
  }
  .footer .low-menu {
    flex-direction: column;
    align-items: space-between;
    height: 180px;
  }
  .footer .divider {
    bottom: 272px;
  }
}
.header {
  position: absolute;
  top: -175px;
  height: 25px;
  text-transform: uppercase;
}
.header .title,
.header .menu-item {
  font-size: 10px;
  line-height: 16px;
}
.header .main-flex-container {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header .main-flex-container .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 91px;
  text-decoration: none;
}
.header .main-flex-container .main-menu .title {
  color: #cacaca;
}
.header .main-flex-container .logo {
  width: 16px;
  height: 16px;
}
.header .main-flex-container .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-left: 91px;
}
.header .main-flex-container .menu-container .top-menu {
  display: flex;
  justify-content: space-between;
  width: 311px;
  text-decoration: none;
}
.header .main-flex-container .menu-container .top-menu a {
  color: #cacaca;
  text-decoration: none;
}
.header .main-flex-container .search-bar .search-input {
  width: 248px;
  height: 25px;
  font-weight: normal;
  font-size: 13.3px;
  font-family: Arial, sans-serif;
  line-height: 15px;
  background: #3c3b3d;
  border: none;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header .main-flex-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    margin-left: 0;
  }
  .header .main-flex-container .main-menu {
    margin-bottom: 17px;
  }
  .header .main-flex-container .main-menu .logo img {
    display: block;
  }
  .header .main-flex-container .menu-container {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 0;
  }
  .header .main-flex-container .menu-container .top-menu {
    flex-direction: column;
  }
  .header .main-flex-container .menu-container .top-menu a {
    text-decoration: none;
  }
  .header .main-flex-container .search-bar {
    width: 90%;
    margin-top: 18px;
  }
  .header .main-flex-container .search-bar .search-input {
    width: 100%;
  }
}
.page-description {
  padding: 200px 0;
  background-image: url("images/banner.png");
  background-position: center;
  background-size: cover;
}
.page-description .title,
.page-description .subtitle {
  text-align: center;
}
.page-description .form-title {
  margin-top: 31px;
  font-size: 16px;
  text-align: center;
}
.page-description .form {
  max-width: 570px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}
.page-description .form .flex-container {
  display: flex;
  justify-content: space-between;
}
.page-description .form .flex-container input {
  min-width: 270px;
  min-height: 50px;
  margin-top: 17px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  color: #fff;
  font-size: 13.3px;
  font-family: Arial, sans-serif;
  line-height: 15px;
  background: transparent;
  border: solid 2px #cacaca;
  border-radius: 3px;
}
.page-description .form .btn-green {
  font-weight: normal;
  font-size: 13.3px;
  font-family: Arial, sans-serif;
  font-style: normal;
  line-height: 15px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .page-description .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .page-description .flex-container input {
    width: 100%;
  }
}

.morten {
  height: 713px;
  background-image: url("images/Morten Harket.png");
}
.morten .header {
  top: -175px;
}
.morten .header .main-menu {
  height: 24px;
}
.morten .header .main-menu .title {
  margin: 0;
  align-items: center;
}
.morten .title {
  text-align: start;
}
.morten .subscribers {
  margin-top: 16px;
  margin-bottom: 48px;
}
.morten .buttons-container {
  display: flex;
}
.morten .buttons-container .btn {
  position: relative;
  width: 200px;
  height: 62px;
  padding: 20px 30px;
  border: none;
  border-radius: 0;
}
.morten .buttons-container .img {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 20px;
  height: 20px;
}
.morten .buttons-container .img svg {
  fill: #fff;
}
.morten .buttons-container .text {
  position: absolute;
  top: 20px;
  left: 66px;
  font-size: 12.8px;
  text-transform: uppercase;
}
.morten .buttons-container .btn-mix {
  margin-right: 24px;
  font-size: 12.8px;
  text-transform: uppercase;
  background: #5328f1;
}
.morten .buttons-container .btn-fav {
  font-size: 12.8px;
  text-transform: uppercase;
  background: #95390c;
}
@media (max-width: 768px) {
  .morten {
    height: 730px;
  }
  .morten .header {
    top: -250px;
  }
  .morten .title {
    margin-top: 75px;
  }
  .morten .subscribers {
    font-size: 16px;
  }
  .morten .buttons-container {
    flex-direction: column;
  }
  .morten .buttons-container .btn-mix {
    margin-bottom: 24px;
  }
}

.btn {
  width: 100%;
  padding: 20px 30px;
  text-align: center;
  text-transform: upercase;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
}
.btn-green {
  background: #34c176;
}

.page-pricing .bg {
  background-position: center;
  background-size: cover;
}
.page-pricing .bg-free {
  background-image: url("images/subscribe_1.png");
}
.page-pricing .bg-standart {
  background-image: url("images/subscribe_2.png");
}
.page-pricing .bg-premium {
  background-image: url("images/subscribe_3.png");
}
.page-pricing .title {
  margin-bottom: 45px;
  text-align: center;
}
.page-pricing .items-container {
  display: flex;
  justify-content: space-between;
}
.page-pricing .items-container .pricing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 369px;
  height: 615px;
  padding: 1.5rem 1.5rem 64px;
  border-radius: 1rem;
}
.page-pricing .items-container .pricing-item-title {
  font-weight: normal;
  text-transform: uppercase;
}
.page-pricing .items-container .pricing-item .price-container {
  display: flex;
  margin-top: 200px;
}
.page-pricing .items-container .pricing-item .price-container .pricing-value {
  margin-right: 16px;
  font-size: 64px;
  line-height: 100%;
}
.page-pricing .items-container .pricing-item .price-container .currency {
  font-size: 32px;
  line-height: 150%;
}
.page-pricing .items-container .pricing-item .checkout {
  display: block;
  margin-top: 40px;
  text-decoration: none;
}
.page-pricing .items-container .pricing-item .pricing-footer {
  margin-top: 64px;
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
}
.page-pricing-footer {
  margin-top: 43px;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  .page-pricing .items-container {
    flex-direction: column;
    align-items: center;
  }
  .page-pricing .items-container .pricing-item {
    margin-bottom: 27px;
  }
  .page-pricing .items-container .pricing-item-title {
    font-size: 16px;
  }
}

.page-news .title {
  margin-bottom: 48px;
  text-align: center;
}
.page-news .first {
  margin-bottom: 65px;
}
.page-news .news-item {
  display: flex;
  justify-content: space-between;
}
.page-news .news-item .artist-image,
.page-news .news-item .text-container {
  width: 575px;
}
.page-news .news-item .text-container .news-text {
  color: #cacaca;
  font-size: 16px;
}
.page-news .news-item .news-title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
  text-transform: capitalize;
}
.page-news .news-item .news-footer {
  margin-top: 24px;
}
.page-news .news-item .news-footer .news-author {
  display: flex;
  justify-content: space-between;
  width: 186px;
  text-transform: uppercase;
}
.page-news .news-item .news-footer .news-author .avatar {
  width: 19px;
  height: 19px;
}
.page-news .news-item .news-footer .news-author .source {
  margin: 0 16px;
  color: #f89202;
  font-size: 12.8px;
}
.page-news .news-item .news-footer .news-author .date {
  color: #cacaca;
  font-size: 12.8px;
}
.page-news .news-item .btn {
  display: block;
  width: 135px;
  height: 53px;
  margin-top: 64px;
  padding: 16px 30px;
  color: #cacaca;
  font-weight: normal;
  font-size: 12.8px;
  font-style: normal;
  white-space: nowrap;
  text-transform: uppercase;
  border-color: #cacaca;
}
@media (max-width: 768px) {
  .page-news .news-item {
    flex-direction: column;
  }
  .page-news .news-item .artist-image,
.page-news .news-item img,
.page-news .news-item .text-container {
    width: 100%;
  }
  .page-news .news-item .text-container {
    margin-top: 50px;
  }
  .page-news .news-item .text-container .news-title {
    font-size: 16px;
    text-transform: capitalize;
  }
  .page-news .second {
    flex-direction: column-reverse;
  }
}

.page-app {
  padding-bottom: 100px;
}
.page-app .about-app {
  display: flex;
  margin-top: 48px;
}
.page-app .text-content {
  flex: 1;
}
.page-app .text-content .proposal {
  margin-bottom: 16px;
  color: #cacaca;
  font-size: 16px;
}
.page-app .text-content .download-btn {
  display: block;
  width: 131px;
  height: 53px;
  padding: 16px 40px;
  font-size: 12.8px;
  background: #95390c;
  border: none;
  border-radius: 32px;
}
.page-app .image {
  flex: 1;
  text-align: center;
}
@media (max-width: 768px) {
  .page-app .about-app {
    flex-direction: column;
  }
  .page-app .about-app .text-content {
    order: 1;
  }
  .page-app .about-app .image {
    order: 0;
  }
}

.page-popular-track .title {
  margin-bottom: 48px;
}
.page-popular-track .tracks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px 50px;
}
.page-popular-track .tracks-container .popular-track {
  display: flex;
  justify-content: space-between;
}
.page-popular-track .tracks-container .popular-track .track-info {
  display: flex;
  gap: 15px;
}
.page-popular-track .tracks-container .popular-track .track-info img {
  display: inline-block;
  width: 55px;
  height: 55px;
}
.page-popular-track .tracks-container .popular-track .track-info .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12.8px;
}
.page-popular-track .tracks-container .popular-track .track-info .text-container .track-title {
  font-weight: bold;
  font-size: 12.8px;
  text-transform: uppercase;
}
.page-popular-track .tracks-container .popular-track .track-info .text-container .track-performer {
  color: #cacaca;
  font-weight: normal;
  font-size: 12.8px;
  text-transform: capitalize;
}
.page-popular-track .tracks-container .popular-track .duration {
  display: flex;
  align-items: center;
  color: #cacaca;
  font-weight: normal;
  font-size: 12.8px;
}
@media (max-width: 768px) {
  .page-popular-track .title {
    text-align: left;
  }
  .page-popular-track .tracks-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page-discography .title {
  margin-bottom: 48px;
  text-align: left;
}
.page-discography .discography-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}
.page-discography .discography-container img {
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}
.page-discography .discography-container .item-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.page-discography .discography-container .item-year {
  color: #cacaca;
  font-size: 16px;
}
@media (max-width: 768px) {
  .page-discography .discography-container .discography-item {
    width: 138px;
  }
  .page-discography .discography-container .discography-item img {
    width: 137px;
    height: 137px;
  }
}

.page-similar {
  padding-bottom: 100px;
}
.page-similar .title {
  margin-bottom: 48px;
  text-align: left;
}
.page-similar .artists-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}
.page-similar .artists-container img {
  width: 250px;
  height: 250px;
  margin-bottom: 17px;
  border-radius: 50%;
}
.page-similar .artists-container .artist-info {
  text-align: center;
}
.page-similar .artists-container .artist-info .item-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.page-similar .artists-container .artist-info .item-subscribers {
  color: #cacaca;
  font-size: 16px;
}
@media (max-width: 768px) {
  .page-similar .artists-container .artist-item {
    width: 137px;
  }
  .page-similar .artists-container .artist-item img {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
