* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

body {
  position: relative;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

// .main {
//   background: $main-bg-color;
// }

.body {
  background: $main-bg-color;
}

section {
  .title {
    text-align: center;
  }
}

// section + .container {
//   padding: 100px 20px 0;
// }

h1,
h2 {
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

img {
  background-position: center;
  background-size: cover;
}

.footer {
  position: relative;
  padding: 52px 0 49px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  a {
    display: block;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }

  .links-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
    column-gap: 40px;
    row-gap: 2.5rem;
    &-item {
      width: 100%;
    }

    .title {
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
    }

    a {
      color: $light-grey;
    }

    .subscribe {
      .flex-container {
        display: flex;
        justify-content: space-between;
        width: 160px;

        a {
          display: inline-block;

          img {
            filter: sepia(7%) saturate(30%) hue-rotate(14deg) brightness(93%) contrast(81%);
          }
        }
      }
    }
  }

  .divider {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 2px;
    border: 1px solid $secondary-text-color;
  }

  .low-menu {
    display: flex;
    align-items: center;

    a {
      margin-right: 16px;
      color: $light-grey;
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .footer {
    padding: 62px 0 32px;

    .container {
      padding-top: 0;
    }

    .links-container {
      flex-direction: column;
      row-gap: 30px;
      align-items: space-between;
      height: auto;
    }

    .low-menu {
      flex-direction: column;
      align-items: unset;

      a {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    .divider {
      bottom: 270px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .container {
    width: unset;
    max-width: 1200px;
  }
}
