* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $main-text-color;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

body {
  position: relative;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  background: $main-bg-color;

  .title {
    text-align: center;
  }
}

h1,
h2 {
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

img {
  background-position: center;
  background-size: cover;
}

.footer {
  position: relative;
  padding: 3rem 0 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  a {
    display: block;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }

  .links-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 114px;

    .title {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
    }

    .subscribe {
      .flex-container {
        display: flex;
        justify-content: space-between;
        width: 160px;

        a {
          display: inline-block;
        }
      }
    }
  }

  .divider {
    position: absolute;
    bottom: 113px;
    width: 100vw;
    height: 2px;
    border: 1px solid $secondary-text-color;
  }

  .low-menu {
    display: flex;
    justify-content: space-between;
    width: 438px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .footer {
    .links-container {
      flex-direction: column;
      align-items: space-between;
      height: 520px;
    }

    .low-menu {
      flex-direction: column;
      align-items: space-between;
      height: 180px;
    }

    .divider {
      bottom: 272px;
    }
  }
}
