* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  color: $main-text-color;;
  font-size: 18px;
  line-height: 1.5;
  background-color: $main-bg-color;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}