.header {
  position: absolute;
  top: -175px;
  height: 25px;
  text-transform: uppercase;
  
  .flex-container {  
    display: flex;
    align-items: center;
    text-transform: uppercase;  

    .main-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 91px;
      text-decoration: none;

      .title {
        color: $secondary-text-color;
      }
    }

    .logo {
      width: 16px;
      height: 16px;
    }

    .title,
    .menu-item {
      font-size: 10px;
      line-height: 16px;
    }

    .menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1000px;
      margin-left: 91px;
    }

    .top-menu {
      display: flex;
      justify-content: space-between;
      width: 311px;

      .menu-item {
        color: $secondary-text-color;
      }
    }

    .search-bar {
      .search-input {
        width: 248px;
        height: 25px;
        font-weight: normal;
        font-size: 13.3px;
        font-family: Arial, sans-serif;
        line-height: 15px;
        background: #3c3b3d;
        border-radius: 50px;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      width: 100%;
      margin-left: 0;

      .logo {
        margin-bottom: 17px;
      }

      .flex-container {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
      }

      .top-menu {
        flex-direction: column;
      }

      .search-input {
        width: 100%;
      }
    }
  }
}
