.header {
  position: absolute;
  top: 25px;
  
  height: 25px;
  .container {
    margin-left: 119px;
    display: flex;
    text-transform: uppercase;
    .main-menu {
      display: block;
      min-width: 91px;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
    }
    .logo {
      width: 16px;
      height: 16px;
    }
    .title,
    .menu-item {
      font-size: 10px;
      line-height: 16px;
    }    
    .flex-container {
      width: 1000px;
      margin-left: 91px;
      display: flex;
      justify-content: space-between;
    }
    .top-menu {
      width: 311px;
      display: flex;
      justify-content: space-between;
    }
    .search-bar {
      .search-input {
        width: 248px;
        height: 25px;
        background: #3C3B3D;
        border-radius: 50px;

        font-family: Arial;
        font-weight: normal;
        font-size: 13.3px;
        line-height: 15px;
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
      margin-left: 0;
      flex-wrap: wrap;
      .logo {
        margin-bottom: 17px;
      }
      .flex-container {
        margin-left: 0;
        width: 100%;
        flex-direction: column;
      }
      .top-menu {
        flex-direction: column;
      }
      .search-input {
        width: 100%;
      }
    }

  }
}