.header {
  position: absolute;
  top: -175px;
  height: 25px;
  text-transform: uppercase;

  .title,
  .menu-item {
    font-size: 10px;
    line-height: 16px;
  }

  .main-flex-container {
    display: flex;
    align-items: center;
    text-transform: uppercase;  

    .main-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 91px;
      text-decoration: none;

      .title {
        color: $secondary-text-color;
      }
    }

    .logo {
      width: 16px;
      height: 16px;
    }

    .menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1000px;
      margin-left: 91px;

      .top-menu {
        display: flex;
        justify-content: space-between;
        width: 311px;
        text-decoration: none;
        a {
          color: $secondary-text-color;
          text-decoration: none;
        }
      }
    }

    .search-bar {
      .search-input {
        width: 248px;
        height: 25px;
        font-weight: normal;
        font-size: 13.3px;
        font-family: Arial, sans-serif;
        line-height: 15px;
        background: #3c3b3d;
        border: none;
        border-radius: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    top: -225px;
    width: 100%;

    .main-flex-container {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: start;
      width: 100%;
      margin-left: 0;

      .main-menu {
        margin-bottom: 17px;

        .logo {
          img {
            display: block;
          }
        }
      }

      .menu-container {
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-left: 0;

        .top-menu {
          flex-direction: column;
          a {
            text-decoration: none;
          }
        }
      }

      .search-bar {
        width: 90%;
        margin-top: 18px;

        .search-input {
          width: 100%;
        }
      }
    }
  }
}
