.page-discography {
  .title {
    margin-bottom: 48px;
    color: $white-color;
    text-align: left;
  }

  .discography-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;

    img {
      width: 250px;
      height: 250px;
    }

    .item-title {
      color: $white-color;
      font-weight: bold;
      font-size: 18px;
      text-transform: capitalize;
    }

    .item-year {
      color: $white-color;
    }
  }

  @media (max-width: 768px) {
    .discography-container {
      img {
        width: 137px;
        height: 137px;
      }
    }
  }
}
