.page-app {
  .about-app {
    display: flex;
    margin-top: 48px;
  }

  .text-content {
    flex: 1;

    .proposal {
      margin-bottom: 16px;
    }

    .download-btn {
      display: block;
      width: 131px;
      height: 53px;
      padding: 16px 40px;
      font-size: 12.8px;
      background: #95390c;
      border: none;
      border-radius: 32px;
    }
  }

  .image {
    flex: 1;
    text-align: center;
  }

  @media (max-width: 768px) {
    .about-app {
      flex-direction: column;

      .text-content {
        order: 1;
      }

      .image {
        order: 0;
      }
    }
  }
}
