.page-popular-track {
  .title {
    margin-bottom: 48px;
  }

  .tracks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px 50px;

    .popular-track {
      display: flex;
      justify-content: space-between;

      .track-info {
        display: flex;
        gap: 15px;

        img {
          display: inline-block;
          width: 55px;
          height: 55px;
        }

        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 12.8px;

          .track-title {
            font-weight: bold;
            font-size: 12.8px;
            text-transform: uppercase;
          }

          .track-performer {
            color: $secondary-text-color;
            font-weight: normal;
            font-size: 12.8px;
            text-transform: capitalize;
          }
        }
      }

      .duration {
        display: flex;
        align-items: center;
        color: $secondary-text-color;
        font-weight: normal;
        font-size: 12.8px;
      }
    }
  }

  @media (max-width: 768px) {
    .title {
      text-align: left;
    }

    .tracks-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
