.page-description {
  padding: 200px 0;
  background-image: url('images/banner.png');
  background-position: center;
  background-size: cover;
  .form {
    max-width: 570px;
    // opacity: 0;
    input {
      min-width: 270px;
      min-height: 50px;
      padding-left: 20px;
      margin-bottom: 1.5rem;
      border: solid 2px $main-text-color;
      border-radius: 3px;
    }
  }
}